name: Node.js CI

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install NPM dependencies
        run: cd server && npm install

      - name: Run Linter
        id: lint
        run: npm run lint
        working-directory: ./server
        continue-on-error: true

      - name: Run Prettier
        id: prettier
        run: npm run prettier --check
        working-directory: ./server
        continue-on-error: true

      - name: Check Lint and Prettier results
        if: steps.lint.outcome == 'failure' || steps.prettier.outcome == 'failure'
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: Der Linting Workflow war nicht erfolgreich. Bitte überprüfe die Code-Stil-Probleme.

      - name: Create new branch and PR
        if: steps.lint.outcome == 'success' && steps.prettier.outcome == 'success'
        run: |
          SHORT_COMMIT_HASH=$(echo ${{ github.sha }} | cut -c1-7)
          git checkout -b dev/$SHORT_COMMIT_HASH
          git push origin dev/$SHORT_COMMIT_HASH
          gh pr create --base ${{ github.head_ref }} --head dev/$SHORT_COMMIT_HASH --title "Automated PR from successful linting" --body "Code formatting and linting passed successfully."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
